language: android
jdk: oraclejdk8
sudo: true
android:
  components:
    - platform-tools
    - tools

    # The BuildTools version
    - build-tools-25.0.0

    # The SDK version used to compile
    - android-24

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-22
    - sys-img-x86-android-17